@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

/* CSS Document  */
body  {
    font-family:"Lato","Helvetica Neue" !important;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}

header {
    background: #B9C5C8;  /* bakgrunnsfarge */
    padding: 0 15px;  /* topp-padding og venstre-padding  */

}

article {
    margin: 0 1.5em 0 12em;
}

footer {
    background: #FFFFFF;  /* bakgrunnsfarge  */
    padding: 0 15px;  /* topp-padding og venstre-padding  */
    text-align: center;
    float: left;
    padding-left: 27.55% !important;
}

nav h4 {
    padding-left: 15px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 3px 0 3px 15px;
    list-style: none;
}

li:hover {
    background: #ddd;
    padding: 3px 0 3px 15px;
}

li:active {
    background: #ddd;
    padding: 3px 0 3px 15px;
}

.gbStil #boks {
    background: #FFFFFF; /* bakgrunnsfarge */
    margin: 0 auto; /* marger  */
    border: 0px #000000; /* bordertykkelse 0  */
    text-align: left; /* venstrejustert tekst  */
}

.gbStil header h1 {
    margin: 0; /* ingen marg rundt toppen  */
    padding: 10px 0; /* topp-padding og venstre-padding  */
}

.gbStil nav {
    float: left; /* venstrejustert  */
    width: 12em; /* menybredde  */
    background: #B9C5C8; /* bakgrunnsfarge  */
}

.gbStil nav h3, .gbStil nav p {
    margin-left: 1em; /* venstremarg i menyen  */
    margin-right: 1em;  /* høyremarg i menyen  */
    color: #0C3546;
}


.gbStil footer h5 {
    margin: 0; /* ingen marg rundt bunnen  */
    padding: 10px 0; /* topp-padding og venstre-padding  */
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float  */
    clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;

}